{% extends "base.html" %}
{% block title %}Обращение{% endblock %}
{% block content %}
        <section id="contact-form">
            <div class="container">
                <div class="row">

                    <!--FORM (RIGHT SIDE)
                        =============================================================================================-->
                    <div class="col-md-8">

                        <!--Title-->
                        <h2>Спасибо за Ваше обращение!</h2>
                        <h4>Ответ будет сформирован и отправлен на Ваш Email в ближайшее время.</h4>


                    </div>
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
{% endblock %}