<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">

    <!--CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/leaflet.css">
    <link rel="stylesheet" href="assets/css/style.css"> {% load static %}
    <link rel="stylesheet" href='{% static "assets/bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/font-awesome/css/fontawesome-all.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/leaflet.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/style.css" %}'>

    <title>Разместить объявление</title>

</head>

<body>
<nav id="ts-primary-navigation" class="navbar navbar-expand-md navbar-light">
    <div class="container">

        <!--Brand Logo-->
        <a class="navbar-brand" href="index-map-leaflet-fullscreen.html">
            <img src="assets/img/logo.png" alt="">
        </a>

        <!--Responsive Collapse Button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Collapsing Navigation-->
        <div class="collapse navbar-collapse" id="navbarPrimary">

            <!--LEFT NAVIGATION MAIN LEVEL
            =================================================================================================-->
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link mr-2" href="/">Главная</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mr-2" href="/account/detail">Личный кабинет</a>
                </li>


            </ul>
            <!--end Left navigation main level-->

            <!--RIGHT NAVIGATION MAIN LEVEL
            =================================================================================================-->
            <ul class="navbar-nav ml-auto">
                 {% if request.user.is_authenticated %}
                <li class="nav-item">
                    </span><a class="nav-link text-dark" href="">Привет, {{ request.user }}!!!</a>
                </li>

                <!--REGISTER (Main level)
                =============================================================================================-->
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/account/logout">Выход</a>
                </li>

                {% else %}
                <!--LOGIN (Main level)
                =============================================================================================-->
                <li class="nav-item">
                    <a class="nav-link" href="/account/login">Войти</a>
                </li>

                <!--REGISTER (Main level)
                =============================================================================================-->
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/account/register">Регистрация</a>
                </li>
                {% endif %}
                <!--SUBMIT (Main level)
                =============================================================================================-->
                <li class="nav-item">
                    <a class="btn btn-outline-primary btn-sm m-1 px-3" href="/account/submit">
                        <i class="fa fa-plus small mr-2"></i> Разместить объявление
                    </a>
                </li>

            </ul>
            <!--end Right navigation-->

        </div>
        <!--end navbar-collapse-->
    </div>
    <!--end container-->
</nav>
    <!-- WRAPPER
    =================================================================================================================-->
    <div class="ts-page-wrapper ts-has-bokeh-bg" id="page-top">

        <header id="ts-header" class="fixed-top">

        </header>

        <main id="ts-main">


            <section id="page-title">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-1 col-lg-10">
                            <div class="ts-title">
                                <h1>Добавить объявление</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--SUBMIT FORM
            =========================================================================================================-->
            <section id="submit-form">
                <div class="container">
                    <div class="row">

                        <div class="offset-lg-1 col-lg-10">

                            <form id="form-submit" class="ts-form" enctype="multipart/form-data" method="post">
                                {% csrf_token %}


                                <!--BASIC INFORMATION
                                =====================================================================================-->
                                <section id="basic-information" class="mb-5">

                                    <!--Title-->
                                    <h3 class="text-muted border-bottom">Базовая информация</h3>

                                    <!--Row-->
                                    <div class="row">

                                        <!--Title-->
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="title">Адрес</label>
                                                <input type="text" class="form-control border-right-0" id="address" name="address" required>
                                            </div>
                                        </div>

                                        <!--Price-->
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <label for="price">Цена</label>
                                                <input type="text" class="form-control border-right-0" name="price" required>
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-white border-left-0">₽</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-4">

                                            <div class="row">

                                                <!--Area-->
                                                <div class="col">
                                                    <div class="input-group">
                                                        <label for="area">Общая площадь</label>
                                                        <input type="text" class="form-control border-right-0" name="totalArea" required>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white border-left-0">м<sup>2</sup></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group">
                                                        <label for="area">Площадь кухни</label>
                                                        <input type="text" class="form-control border-right-0"  name="kitchenArea">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white border-left-0">м<sup>2</sup></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--Rooms-->
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="rooms">Кол-во комнат</label>
                                                        <input type="number" class="form-control" id="rooms" name="numberOf_rooms" min="0" required>
                                                    </div>
                                                    <div class="input-group">
                                                        <label for="area">Жилая пл.</label>
                                                        <input type="text" class="form-control border-right-0" id="area" name="livingArea">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white border-left-0">м<sup>2</sup></span>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <!--end row-->

                                        </div>
                                        <!--end col-md-4-->

                                        <!--Type Select-->
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="type">Тип</label>
                                                <select class="custom-select" id="type" name="type" required>
                                                <option value="">Выберите тип</option>
                                                <option value="Квартира">Квартира</option>
                                                <option value="Дом">Дом</option>
                                                <option value="Коммерческая недвижимость">Коммерческая недвижимость</option>
                                                <option value="Земельный участок">Земельный участок</option>
                                                <option value="Гараж">Гараж</option>
                                            </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="type">Ремонт</label>
                                                <select class="custom-select" name="furnish">
                                                <option value="">Выберите тип</option>
                                                <option value="Без ремонта">Без ремонта </option>
                                                <option value="Капитальный ремонт">Капитальный ремонт</option>
                                                <option value="Косметический">Косметический</option>
                                                <option value="От застройщика">От застройщика</option>
                                            </select>
                                            </div>
                                        </div>

                                        <!--Status Select-->
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="status">Статус</label>
                                                <select class="custom-select" id="status" name="status" required>
                                                <option value="">Выберите статус</option>
                                                <option value="Продается">Продается</option>
                                                <option value="Сдается">Сдается</option>
                                            </select>
                                            </div>
                                            <div class="input-group">
                                                <label for="price">Телефон</label>
                                                <input type="text" class="form-control border-right-0" id="price" name="telephone" required>
                                                <div class="input-group-append">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--end row-->
                                </section>


                                <!--ADDITIONAL INFORMATION
                                =====================================================================================-->
                                <section id="additional-information" class="mb-5">

                                    <!--Title-->
                                    <h3 class="text-muted border-bottom">Дополнительная информация</h3>

                                    <!--Description-->
                                    <div class="form-group">
                                        <label for="description">Описание объекта</label>
                                        <textarea class="form-control" id="description" rows="4" name="specifications"></textarea>
                                    </div>

                                    <!--Row-->
                                    <div class="row">

                                        <!--Bedrooms-->
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="bedrooms">Этаж</label>
                                                <input type="number" class="form-control" id="bedrooms" name="floor" min="0" required>
                                            </div>
                                        </div>

                                        <!--Bathrooms-->
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="bathrooms">Кол-во этажей в доме</label>
                                                <input type="number" class="form-control" id="bathrooms" name="totalFloor" min="1" required>
                                            </div>
                                        </div>

                                    </div>
                                    <!--end row-->



                                </section>
                                <!--end #additional-information-->

                                <hr>


                                <!--GALLERY
                                =====================================================================================-->
                                <section id="gallery" class="mb-5">

                                    <!--Title-->
                                    <h3 class="text-muted border-bottom">Галерея фотографий</h3>

                                    <!--File upload-->
                                    <div class="file-upload-previews"></div>
                                    <h4 class="text-muted">Превью</h4>
                                    <div class="file-upload">

                                        <input type="file" name="headerImage" accept="image/*">
                                        <hr>
                                        <h4 class="text-muted">Квартира (выберите несколько)</h4>
                                        <div class="file-upload">
                                            <input type="file" name="imageSell" multiple="multiple" accept="image/*">
                                        </div>
                                    </div>

                                </section>
                                <section class="py-3">

                                    <button type="submit" onclick="/" class="btn btn-primary ts-btn-arrow btn-lg float-right" >Разместить объявление
                                </button>
                                </section>

                            </form>
                            <!--end #form-submit-->

                        </div>
                        <!--end offset-lg-1 col-lg-10-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>



        </main>
        <!--end #ts-main-->

        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->


    </div>
    <!--end page-->
    <script src='{% static "assets/js/jquery-3.3.1.min.js" %}'></script>
    <script src='{% static "assets/js/popper.min.js" %}'></script>
    <script src='{% static "assets/bootstrap/js/bootstrap.min.js" %}'></script>
    <script src='{% static "assets/js/owl.carousel.min.js" %}'></script>
    <script src='{% static "assets/js/jquery.magnific-popup.min.js" %}'></script>
    <script src='{% static "assets/js/leaflet.js" %}'></script>
    <script src='{% static "assets/js/custom.js" %}'></script>
    <script src='{% static "assets/js/map-leaflet.js" %}'></script>


</body>

</html>