{% extends "base.html" %}
{% block title %} {{sell.0.nameSell}} {% endblock %}


{% block content %}
<style type="text/css">
.row {
    padding-left: 15px;
}
[data-bg-image] {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
</style>
<!--PAGE TITLE=========================================================================================================-->
<section id="page-title">
    <div class="container">

        <div class="d-block d-sm-flex justify-content-between">

            <!--Title-->
            <div class="ts-title mb-0">
                <h1>{{sell.0.nameSell}}</h1>
                <h5 class="ts-opacity__90">
                    <i class="fa fa-map-marker text-primary"></i> {{ sell.0.address }}
                </h5>
            </div>

            <!--Price-->
            <h3>
                <span class="badge badge-primary p-3 font-weight-normal ts-shadow__sm">₽ {{ sell.0.price }}</span>
            </h3>

        </div>

    </div>
</section>

<!--CONTENT=========================================================================================================-->
<section id="content">
    <div class="container">
        <div class="row flex-wrap-reverse">

            <!--LEFT SIDE
                =============================================================================================-->
            <div class="col-md-5 col-lg-4">

                <!--DETAILS
                    =========================================================================================-->
                <section>
                    <h3>Общая информация</h3>
                    <div class="ts-box">

                        <dl class="ts-description-list__line mb-0">

                            <dt>ID:</dt>
                            <dd>#{{sell.0.pk}}</dd>

            {% if sell.0.district is not Null %}
            <dt>Район:</dt>
                            <dd>{{sell.0.district}}</dd>
            {% endif %}

                            <dt>Адрес:</dt>
                            <dd>{{sell.0.address}}</dd>

                            <dt>Общая пл.:</dt>
                            <dd>{{ sell.0.totalArea}} м<sup>2</sup></dd>

            {% if sell.0.livingArea is not Null %}
                            <dt>Жилая пл.:</dt>
                            <dd>{{sell.0.livingArea}} м<sup>2</sup></dd>
                            {% endif %}

            {% if sell.0.kitchenArea is not Null %}
                            <dt>Пл. Кухни: </dt>
                            <dd>{{sell.0.kitchenArea}} м<sup>2</sup></dd>
                            {% endif %}

                            <dt>Этаж/Из:</dt>
                            <dd>{{sell.0.floor}} / {{sell.0.totalFloor}}</dd>

                            <dt>Кол-во комнат:</dt>
                            <dd>{{sell.0.numberOf_rooms}}</dd>

            {% if sell.0.furnish is not Null %}
                            <dt>Ремонт:</dt>
                            <dd>{{sell.0.furnish}}</dd>
                            {% endif %}

                            <dt>Дата публикации:</dt>
                            <dd>{{sell.0.pub_date | date:"Y-m-d H:i:s"}}</dd>
                            <hr>
                            <h4>Контакт агента</h4>
                            <dt>Агент:</dt>
                            <dd>{{sell.0.author}}</dd>
                            <dt>Телефон:</dt>
                            <dd>{{sell.0.telephone}}</dd>
                        </dl>

                    </div>
                </section>




            </div>
            <!--end col-md-4-->

            <!--RIGHT SIDE
                =============================================================================================-->
            <div class="col-md-7 col-lg-8">


                <!--GALLERY CAROUSEL
                =============================================================================================-->
                <section id="gallery-carousel position-relative">

                    <h3>Галерея</h3>

                    <div class="owl-carousel ts-gallery-carousel" data-owl-auto-height="0" data-owl-dots="1" data-owl-loop="1">
                        {% for image in images %}
                        <!--Slide-->
                        <div class="slide">
                            <div class="ts-image" data-bg-image="/media/{{image.imageSell}}">
                                <a href="/media/{{image.imageSell}}" class="ts-zoom popup-image"><i class="fa fa-search-plus"></i>Zoom</a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </section>

                <!--DESCRIPTION
                    =========================================================================================-->
                <section id="description">

                    <h3>Описание</h3>

                    <p>
                        {{sell.0.specifications}}
                    </p>

                </section>




            </div>
            <!--end col-md-8-->

        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>


{% endblock %}