{% extends "base.html" %}
{% block title %}Продажа в КРД{% endblock %}


{% block content %}
<style type="text/css">
.card-img {
object-fit: cover;
width: 150px;
height: 100px;
}
</style>
<!--SEARCH FORM=========================================================================================================-->
<section id="search-form" class="ts-form__map-horizontal1">
<div class="container">

<form id="form-search" class="ts-form" method="post">
    {% csrf_token %}

    <section class="ts-box p-0">
<!--PRIMARY SEARCH INPUTS=========================================================================================-->
        <div class="form-row px-4 py-3">
            <!--Keyword-->
            <div class="col-sm-12 col-md-4">
                <div class="form-group my-2">
                                <select class="custom-select" name="district" required>
                                <option value="">Выберите район</option>
                                <option value="Центральный">Центральный</option>
                                <option value="Фестивальный">Фестивальный</option>
                                <option value="Юбилейный">Юбилейный</option>
                                <option value="Пашковский">Пашковский</option>
                                <option value="Славянский">Славянский</option>
                                <option value="Черемушки">Черемушки</option>
                                <option value="Комсомольский">Комсомольский</option>
                                <option value="Гидрострой">Гидрострой</option>
                                <option value="Репино">Репино</option>
                                <option value="Восточно-Кругликовский">Восточно-Кругликовский</option>
                                <option value="40 лет Победы">40 лет Победы</option>
                                <option value="Авиагородок">Авиагородок</option>
                                <option value="Аэропорт">Аэропорт</option>
                                <option value="Музыкальный">Музыкальный</option>
                                <option value="Вавилова">Вавилова</option>
                                <option value="Учхоз Кубань">Учхоз Кубань</option>
                                <option value="Рубероидный">Рубероидный</option>
                                <option value="Сельхозинститут">Сельхозинститут</option>
                                <option value="ТЭЦ">ТЭЦ</option>
                                <option value="Западный обход">Западный обход</option>
                                <option value="Московский">Московский</option>
                                <option value="ЗИП">ЗИП</option>
                                </select>
                </div>
            </div>

            <!--Other inputs-->
            <div class="col-md-8">
                <div class="form-row">

                    <!--Type-->
                    <div class="col-sm-3">
                            <select class="custom-select my-2" name="type" required>
                                <option value="">Выберите тип</option>
                                <option value="Квартира">Квартира</option>
                                <option value="Дом">Дом</option>
                                <option value="Коммерческая недвижимость">Коммерческая недвижимость</option>
                                <option value="Земельный участок">Земельный участок</option>
                                <option value="Гараж">Гараж</option>
                            </select>
                    </div>

                    <!--Status-->
                    <div class="col-sm-3">
                            <select class="custom-select my-2" name="status" required>
                                <option value="">Выберите статус</option>
                                <option value="Продается">Продается</option>
                                <option value="Сдается">Сдается</option>
                            </select>
                    </div>

                    <!--Max Price-->
                    <div class="col-sm-3">
                        <div class="input-group my-2">
                            <input type="text" class="form-control border-right-0" id="price" placeholder="Цена до" name="price" required>
                            <div class="input-group-append">
                                <span class="input-group-text bg-white border-left-0">₽</span>
                            </div>
                        </div>
                    </div>

                    <!--Submit button-->
                    <div class="col-sm-3">
                        <div class="form-group my-2">
                            <button type="submit" class="btn btn-primary w-100" id="search-btn">Поиск
                            </button>
                        </div>
                    </div>

                </div>
                <!--end row-->
            </div>
            <!--end col-md-8-->

        </div>
        <!--end form-row-->


    </section>

</form>
<!--end #form-search-->

</div>
<!--end container-->
</section>
<!--end #search-form-->


<section id="items-grid-and-sidebar">
<div class="container">
<div class="row">


    <div class="col-md-8">

        <section id="ts-items-list" style="width: 100%;">


            {% for sell in sells %}

            <div class=" card ts-item ts-item__list ts-card ">
                <a href="/{{sell.pk}}" class="card-img" data-bg-image="{{ target.headerImage }}">
                    <img src="/media/{% if sell.headerImage == ''%}images/KVARTIRA.png{% else %}{{sell.headerImage}}{% endif %}" class="card-img"></a>


                <div class="card-body ">
                    <figure class="ts-item__info ">
                        <h4>{{ sell.nameSell }} </h4> <p>{{sell.telephone | phone2numeric}}</p>
                        <aside>
                            <i class="fa fa-map-marker mr-2 "></i> {{ sell.address }}
                        </aside>
                    </figure>
                    <div class="ts-item__info-badge ">
                        ₽ {{sell.price}}
                    </div>

                    <div class="ts-description-lists ">
                        {% if sell.livingArea != '' %}
<dl>
                            <dt>Жилая пл.</dt>
                            <dd>{{sell.livingArea}}м<sup>2</sup></dd>
                        </dl>
{% endif %}

{% if sell.kitchenArea != '' %}
                        <dl>
                            <dt>Пл. Кухни</dt>
                            <dd>{{sell.kitchenArea}}м<sup>2</sup></dd>
                        </dl>
{% endif %}
                        <dl>
                            <dt>Отделка</dt>
                            <dd>{{sell.furnish}}</dd>
                        </dl>

                    </div>

                </div>

                <!--Card Footer-->
  <a href="{{sell.pk}}" class="card-footer ts-item__footer">
            <span class="ts-btn-arrow">Еще</span>
        </a>


            </div>

            {% endfor %}

</section>
</div>
<!--end Right Side / col-md-8-->

</div>
<!--end row-->
</div>
<!--end container-->
</section>
<!--end #items-list-->
<nav aria-label="Page navigation">
<ul class="pagination ts-center__horizontal">
{% if sells.has_previous %}
<li class="page-item">
    <a class="page-link" href="?page=1">Первая</a>
</li>
<li class="page-item">
    <a class="page-link ts-btn-arrow" href="?page={{ sells.previous_page_number }}">Назад</a>
</li>
{% endif %}

<span class="current">
Страница {{ sells.number }} из {{ sells.paginator.num_pages }}.
</span>

{% if sells.has_next %}

<li class="page-item">
    <a class="page-link ts-btn-arrow" href="?page={{ sells.next_page_number }}">Далее</a>
</li>

<li class="page-item">
     <a class="page-link ts-btn-arrow" href="?page={{ sells.paginator.num_pages }}">Последняя</a>
</li>
{% endif %}

</ul>
</nav>

{% endblock %}