
SellBuildKRD/db.sqlite3

.idea/
!/SellBuildKRD/SellBuildKRD/settings.py
!/SellBuildKRD/account/migrations/
!/SellBuildKRD/Sell/migrations/
!/SellBuildKRD/image/
!/SellBuildKRD/maapp_models.png

SellBuildKRD/account/__pycache__/

SellBuildKRD/account/migrations/

SellBuildKRD/account/templatetags/__pycache__/

SellBuildKRD/Sell/__pycache__/

SellBuildKRD/Sell/migrations/

SellBuildKRD/SellBuildKRD/__pycache__/
!/db.sqlite3
!/bot_tg_push/config.py
/SellBuildKRD/image/images/
