{% extends "base.html" %}
{% block title %} <title>Личный кабинет2</title>{% endblock %}

    <style type="text/css">
        .card-img {
            object-fit: cover;
            width: 150px;
            height: 100px;
        }
    </style>


{% block content %}
<div class="row flex-wrap-reverse">

                        <!--LEFT SIDE
                        =============================================================================================-->
                        <div class="col-md-8">


                            <!--TAB CONTENT
                            =========================================================================================-->
                            <div class="tab-content">

                                <!--PROPERTIES TAB
                                =====================================================================================-->
                                <div class="tab-pane active" id="properties" role="tabpanel" aria-labelledby="properties-tab">

                                    <!--DISPLAY CONTROL
                                    =================================================================================-->
                                    <section id="display-control-items">
                                        <div class="clearfix">

                                        </div>
                                        <!--end container-->
                                    </section>

                                    <!--ITEMS LISTING
                                    =================================================================================-->
                                    <section id="items-listing">
                                        <!--Item-->
                                        {% if targets is not  None %}
                                        {% for target in targets %}
                                        <div class="card ts-item ts-item__list ts-card">

                                            <!--Card Image-->

                                            <a href="/{{target.pk}}" class="card-img" data-bg-image="{{ target.headerImage }}">
                                                <img src="/media/{{ target.headerImage }}" class="card-img"></a>

                                            <div class="card-body ">
                                                <figure class="ts-item__info ">
                                                    <h4>{{ target.nameSell }}</h4>
                                                    <p>{{target.telephone | phone2numeric}}</p>
                                                    <aside>
                                                        <i class="fa fa-map-marker mr-2 "></i> {{ target.address }}
                                                    </aside>
                                                </figure>
                                                <div class="ts-item__info-badge ">
                                                    ₽ {{target.price}}
                                                </div>

                                                <div class="ts-description-lists ">
                                                    <dl>
                                                        <dt>Площадь</dt>
                                                        <dd>{{target.totalArea}}м<sup>2</sup></dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Жилая пл.</dt>
                                                        <dd>{{target.livingArea}}м<sup>2</sup></dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Пл. Кухни</dt>
                                                        <dd>{{target.kitchenArea}}м<sup>2</sup></dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Кол-во комнат</dt>
                                                        <dd>{{target.numberOf_rooms}}</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Этаж/Из</dt>
                                                        <dd>{{target.floor}} / {{target.totalFloor}}</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Отделка</dt>
                                                        <dd>{{target.furnish}}</dd>
                                                    </dl>

                                                </div>

                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="delete" value="{{target.pk}}">
                                                    <input type="submit" value="Удалить" class="btn" action="">
                                                </form>

                                            </div>

                                            <!--Card Footer-->

                                            <a href="/{{target.pk}}" class="card-footer">
                                                <span class="ts-btn-arrow">Еще</span>

                                            </a>



                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <h1><a href="/account/submit">Добавить объявление</a></h1>
                                        {%endif%}

                                    </section>

                                </div>
                                <!--end #properties-->

                                <!--AGENTS TAB
                                =====================================================================================-->
                                <div class="tab-pane" id="agents" role="tabpanel" aria-labelledby="agents-tab">



                                </div>
                                <!--end #agents-->

                            </div>
                            <!--end tab-content-->

                        </div>
                        <!--end col-md-8 / left side -->



                    </div>
</div>
{% endblock %}